.Loader .Loader__spinner {
  width: 5rem;
  height: 5rem;
}

.Profile-list .Profile-list__profiles,
.Chosen-profiles .Chosen-profiles__profiles {
  height: calc(100vh - 3rem - 52px);
  overflow-y: auto;
}

.Chosen-profiles .Chosen-profiles__avatar {
  height: 70px;
  width: 70px;
}

.Chosen-profiles .Chosen-profiles__delete-img {
  width: 30px;
  cursor: pointer;
}

.Searching input {
  height: 51px;
}

.Chosen-profiles .list-group-item:hover,
.Profile-list .list-group-item:hover {
  cursor: grab;
  user-select: none;
}

.highlight {
  background-color: red;
}
