.Loader .Loader__spinner {
  width: 5rem;
  height: 5rem;
}

.Profile-list .Profile-list__profiles,
.Chosen-profiles .Chosen-profiles__profiles {
  height: calc(100vh - 3rem - 52px);
  overflow-y: auto;
  overflow-x: hidden;
}

.Chosen-profiles .Chosen-profiles__avatar {
  height: 70px;
  width: 70px;
  user-select: none;
}

.Chosen-profiles .Chosen-profiles__delete-img {
  width: 30px;
  cursor: pointer;
}

.Searching input {
  height: 51px;
}

.Chosen-profiles .list-group-item:hover,
.Profile-list .list-group-item:hover {
  cursor: grab;
  user-select: none;
}

.text-highlight {
  background-color:  yellow;
}

.Chosen-profiles .Chosen-profiles__profiles_highlight {
  box-shadow: 0 0 0 1000px rgba(100, 100, 100, .4);
}

@keyframes show {
  0% {
    transform: scale(.8);
  }

  100% {
    transform: scale(1);
  }
}

.show-new-item {
  transform: scale(1);
  animation: show .3s 1 forwards;
}